<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Cdn>
            <version>1.5.0</version>
        </Mygento_Cdn>
    </modules>
    <global>
        <blocks>
            <mycdn>
                <class>Mygento_Cdn_Block</class>
            </mycdn>
        </blocks>
        <helpers>
            <mycdn>
                <class>Mygento_Cdn_Helper</class>
            </mycdn>
        </helpers>
        <models>
            <mycdn>
                <class>Mygento_Cdn_Model</class>
                <resourceModel>mycdn_resource</resourceModel>
            </mycdn>
            <mycdn_resource>
                <class>Mygento_Cdn_Model_Resource</class>
                <deprecatedNode>mycdn_mysql4</deprecatedNode>
                <entities>
                    <job>
                        <table>mygento_cdn_job</table>
                    </job>
                </entities>
            </mycdn_resource>
            <catalog>
                <rewrite>
                    <product_image>Mygento_Cdn_Model_Rewrite_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
            <widget>
                <rewrite>
                    <template_filter>Mygento_Cdn_Model_Rewrite_Widget_Template_Filter</template_filter>
                </rewrite>
            </widget>
            <core>
                <rewrite>
                    <design_package>Mygento_Cdn_Model_Rewrite_Core_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <cache>
            <types>
                <mycdn>
                    <label>Mygento CDN Storage</label>
                    <description>CDN cached urls</description>
                    <tags>MYCDN</tags>
                </mycdn>
            </types>
        </cache>
        <events>
            <catalog_product_media_save_before> 
                <observers>
                    <mycdn_upload>
                        <type>singleton</type>
                        <class>mycdn/observer</class>
                        <method>uploadOnSave</method>
                    </mycdn_upload>
                </observers>
            </catalog_product_media_save_before>
        </events>
        <resources>
            <mycdn_setup>
                <setup>
                    <module>Mygento_Cdn</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mycdn_setup>
            <mycdn_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mycdn_write>
            <mycdn_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mycdn_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <mycdn>
                    <files>
                        <default>Mygento_Cdn.csv</default>
                    </files>
                </mycdn>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mycdn>
                                            <title>Mygento CDN Configuration</title>
                                        </mycdn>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <mycdn>
                    <files>
                        <default>Mygento_Cdn.csv</default>
                    </files>
                </mycdn>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <mygento_cdn_uploadfile>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mycdn/observer::processJob</model>
                </run>
            </mygento_cdn_uploadfile>	
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Mygento_Cdn/>
            </modules>
        </suite>
    </phpunit>
</config>
