<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Cdn>
            <version>1.3.0</version>
        </Mygento_Cdn>
    </modules>
    <global>
        <blocks>
            <mycdn>
                <class>Mygento_Cdn_Block</class>
            </mycdn>
        </blocks>
        <helpers>
            <mycdn>
                <class>Mygento_Cdn_Helper</class>
            </mycdn>
        </helpers>
        <models>
            <mycdn>
                <class>Mygento_Cdn_Model</class>
            </mycdn>
            <catalog>
                <rewrite>
                    <product_image>Mygento_Cdn_Model_Rewrite_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
            <core>
                <rewrite>
                    <design_package>Mygento_Cdn_Model_Rewrite_Core_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <cache>
            <types>
                <mycdn>
                    <label>Mygento CDN Storage</label>
                    <description>Mygento CDN Storage DESCRIPTION</description>
                    <tags>MYCDN</tags>
                </mycdn>
            </types>
        </cache>
        <events>
            <catalog_product_media_save_before> 
                <observers>
                    <mycdn_upload>
                        <type>singleton</type>
                        <class>mycdn/observer</class>
                        <method>uploadOnSave</method>
                    </mycdn_upload>
                </observers>
            </catalog_product_media_save_before>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <mycdn>
                    <files>
                        <default>Mygento_Cdn.csv</default>
                    </files>
                </mycdn>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mycdn>
                                            <title>Mygento CDN Configuration</title>
                                        </mycdn>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <mycdn>
                    <files>
                        <default>Mygento_Cdn.csv</default>
                    </files>
                </mycdn>
            </modules>
        </translate>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Mygento_Cdn/>
            </modules>
        </suite>
    </phpunit>
</config>
